@import "@/styles/_variables.scss";

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;

	&--mobile {
		padding-right: 2.5rem;
	}

	&__mobile {
		background-color: $primary;
		padding-top: 5rem;
		padding-right: 2rem;
	}

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		height: 3rem;
	}

	&__arrow {
		height: 2rem;
		position: absolute;
		background-color: white;
		cursor: pointer;
		box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
		display: flex;
		justify-content: center;
		align-items: center;

		&--desktop {
			width: 2rem;
			border-radius: 2rem;
			right: -1rem;
			top: 3rem;
			transition: transform .2s;
		}

		&--mobile {
			border-radius: 0 2rem 2rem 0;
			width: 3rem;
			top: 8rem;
			z-index: 10000;
			transition: right .225s;
		}

		&--mobile-open {

			svg {
				transform: rotate(-180deg);
			}
		}

		&--left {
			svg {
				transform: rotate(-180deg);
			}
		}

		svg {
			transition: transform .225s;
		}
	}

	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 5rem 1.5rem;
	}

	&__navigation {
		height: 100%;
		background-color: $primary;
		width: 70px;
		border-radius: 1.5rem;
		transition: width .2s;
		position: relative;

		&--open {
			width: 200px;
		}
	}

	&__items {
		margin-top: 8rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__item {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 10px;
		margin-left: 23px;
		position: relative;

		&--active {
			&::before {
				content: " ";
				position: absolute;
				left: -25px;
				top: 0;
				height: 100%;
				width: 5px;
				border-radius: 2px;
				background-color: white;
				box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
			}
		}

		svg {
			height: 1.5rem;
			width: 1.5rem;
			min-width: 1.5rem;
			fill: white;
		}
	}

	&__item-text {
		color: white;
		opacity: 0;
		transition: opacity .3s;
		white-space: nowrap;

		&--visible {
			opacity: 1;
		}
	}
}